.employee-polls-container {
  width: 100%;
  height: 100%;
  padding: 6px 6px 6px 6px;
  .employee-polls-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .employee-polls-login-section {
    text-align: center;
    .employee-polls-login-main {
      min-height: 80vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      font-size: calc(10px + 2vmin);
    }
    .employee-polls-login-section-logo {
      height: 40vmin;
      pointer-events: none;
    }
  }
}

.employee-polls-question-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  .employee-polls-question-item {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    width: 200px;
    text-align: center;
  }
}

.employee-polls-nav-bar-right {
  display: flex;
  flex-direction: row;
  gap: 6px;
  justify-content: center;
  align-items: center;
}

.employee-polls-nav-bar-left {
  justify-content: center;
  align-items: center;
}

.avatar-name {
  align-items: center;
  text-align: center;
  padding-top: 16px !important;
}

.nav-bar-avatar-section {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  padding: 7px 0 0 8px !important;
  gap: 6px;
}

.nav-bar-avatar {
  height: 35px;
  border-radius: 25px;
  margin: 10px;
}

@media (prefers-reduced-motion: no-preference) {
  .employee-polls-login-section-logo {
    animation: employee-polls-login-section-logo-float infinite 3s ease-in-out;
  }
}

@keyframes employee-polls-login-section-logo-float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(0px);
  }
}
